/* .title span{
    font-size: 40px;
}

.left i{
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.right i{
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.img-content{
    border: none;
} */